body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: auto;
    /* max-height:90vh; */

}

#btn {
    align-items: center;
    margin: 20px 5px 5px 5px;
}

#btnRndm {
    margin: 4px;
}

#container {
    box-sizing: border-box;
    display: flex;
    box-sizing: border-box;
    border: 1px solid black;
    height:50vw;
    width:50vw;
}

.cell {
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    background-color: white;
    height:100%;
    width:100%;
    border:1px solid black;
} 

